.bitacora-container {
  width: 100%;
  padding: 10px;
  overflow-x: auto;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  flex-direction: column;
  display: flex;
  margin: auto;
  align-items: center;
  
}

.title {
  color: black;
  text-align: center;
}

.button-container-bitacora {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 1px;
}

.bitacora-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  /* Fondo blanco */
  border-radius: 10px;
  overflow: hidden;
  /* Esconder bordes cuando se hace scroll */
}

.bitacora-table th,
.bitacora-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

.bitacora-table th {
  background-color: rgb(50, 119, 247);
  color: white;
}
.mb-3 {
   display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-top: 1px;
}

.filtro-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.filtro-item label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
}

.mb-3 input {
  padding: 6px;
  font-size: 14px;
  width: 100%;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .bitacora-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .bitacora-table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .bitacora-table th,
  .bitacora-table td {
    font-size: 12px;
    padding: 8px;
  }
}