.CatalogoConteiner {
  position: relative;
   display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(125% 125% at 50% 10%, #000 50%, rgb(252, 252, 252) 100%);
  padding-bottom: 50px;
  overflow-x: hidden;
  color: white;
}
.mensaje-carrito {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4edda;
  color: #155724;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: opacity 0.3s ease;
}

#BuscadorCatalogo {
  position: fixed; 
  width: 100%;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 999; /* Para que esté encima de todo */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  font-size: 25px;
  backdrop-filter: blur(10px); 
  color: white;
}

#BuscadorCatalogoInput {
  width: 30%;
  font-size: 15px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
}


.f {
  min-height: 70vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img1 {
  width: 25%;
  height: 340px;
  background-color: rgb(0, 0, 0);
  margin: 0% 5px;
  border: 1px solid rgb(2, 2, 2);
  transition: 0.3s ease;
  transform: rotate(20deg);
  background-image: url('https://res.cloudinary.com/ddltlpsy1/image/upload/v1744844530/Iphone_14_y9lubz.png');
  background-size: cover;
}

.Img1:hover {
  width: 30%;
  height: 350px;
}

#carouselExampleFade {
  width: 100%;
  height: 75vh;
}

.carousel-inner img {
  width: auto;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
}


.CatalogoV {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.CatProducto {
  position: relative;
  width: 250px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  backdrop-filter: blur(5px);
  transition: transform 0.3s;
}

.CatProducto:hover {
  transform: scale(1.05);
}

.CatProducto-img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  /* opcional: fondo claro para productos con fondo transparente */
}

.CatProducto-nombre {
  font-size: 15px;
  margin-top: 7px;
}

.CatProducto-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;

}

.CatProducto-precio {
  font-size: 1rem;
  color: #01c4ff;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1px 5px;
  border-radius: 8px;
}

.btn-mas {
  background-color: rgb(0, 217, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
}

.btn-mas:hover {
  background-color: rgb(0, 255, 76);
}