
.categoriaproductoConteiner {
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
 }

.form-group {
    padding: 10px;
    width: 100%; /* Asegura que el contenedor ocupe el 100% */
}

input {
    width: 100%; /* El input ocupará el 100% del contenedor */
    
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    
}

.table th, .table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px;
    
}
.table th{
    background-color: rgb(50, 119, 247);
    color: white;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 5%; 
}

.table th:nth-child(2), .table td:nth-child(2) {
    width: 45%; 
}

.table th:nth-child(3), .table td:nth-child(3) {
    width: 50%;
}

.btn {
    
    margin-right: 5px;
    width: 45%; 
    font-size: 12px;
    text-align: center;
    display: inline-block; 
}
.tablaCategorias{
    padding: 20px;
}