.conteinerFacturacion {
    padding: 15px 17%;
  }
  
  .boxFacturacion,
  .boxTabla {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .facturacionTitle h1 {
    margin-bottom: 20px;
  }
  
  .datosFacturacion {
    padding: 10px 0;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .pedido {
    color: rgb(59, 59, 59);
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .tablaScroll {
    overflow-x: auto;
    width: 100%;
  }
  
  .tablaFacturacion {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tablaFacturacion th {
    background-color: rgb(50, 119, 247);
    color: white;
  }
  
  .tablaFacturacion th,
  .tablaFacturacion td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  /*f*/
  .filaFinal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .btnTarjeta {
    padding: 10px 20px;
    white-space: nowrap;
    max-width: 200px;
  }
  
  .totalFinal {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .inputTotal {
    padding: 8px 12px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 6px;
    color: #333;
    width: 120px;
    font-weight: bold;
    text-align: right;
  }
  