.historialConteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
    padding: 12px;
}

.table-historial {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}

.table-historial th,
.table-historial td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.table-historial th {
    background-color: rgb(50, 119, 247);
    color: white;
}

.table-historial tr:hover {
    background-color: #f1f1f1;
}

.table-historial th:nth-child(1),
.table-historial td:nth-child(1) {
    width: 20%;
}

.table-historial th:nth-child(2),
.table-historial td:nth-child(2) {
    width: 20%;
}

.table-historial th:nth-child(3),
.table-historial td:nth-child(3) {
    width: 10%;
}

.table-historial th:nth-child(4),
.table-historial td:nth-child(4) {
    width: 20%;
}

.table-historial th:nth-child(5),
.table-historial td:nth-child(5) {
    width: 22%;
}

#VerImprimir {
    background-color: rgb(247, 211, 50);
    border: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#VerImprimir:hover {
    background-color: rgb(247, 201, 0);
    cursor: pointer;
}

.historial-table {
    width: 100%;
    overflow-x: auto;
    padding: 0 20%;
}

.text-center{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}
/* Responsive para móviles */
@media screen and (max-width: 768px) {
    .historial-table {
        padding: 0;
        overflow-x: auto;
    }

    .table-historial {
        min-width: 600px;
    }

    .input-group {
        padding: 10px;
        gap: 8px;
    }

    .input-group button {
        font-size: 14px;
    }

    .button-row {
        flex-direction: column;
        align-items: center;
    }

    .button-row .btn {
        width: 90%;
    }
}
