.home_fondo {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a1a1a;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(120, 119, 198, 0.3), rgba(255, 255, 255, 0));
}

.home_fondoG {
    flex: 1;
    box-sizing: border-box;
}

.home_titulo {
    font-size: 2.5rem;
    color: white;
    margin: 10px 0;
}

.home_titulo2 {
    font-size: 1rem;
    color: white;
    margin: 0;
    text-align: center;
}

.home-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan */
    margin-top: 10px;
}

.image-wrapper {
    text-align: center;
    flex: 1 1 30%; /* Permite que las imágenes ocupen un 30% del ancho del contenedor */
    max-width: 200px; /* Limita el ancho máximo de cada imagen */
    margin: 10px; /* Espaciado entre imágenes */
}

.imageComCel {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.image-name {
    color: white;
    margin-top: 5px;
}

.section {
    width: 90%;
    margin: 10px auto; /* Centra el contenido */
    display: flex;
    flex-direction: column; /* Cambia a columna para mejor visualización en móviles */
    align-items: center; /* Centra el contenido */
}

.section-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}

.footer {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(48, 105, 96, 0.1);
    width: 100%;
    padding: 10px;
}

.search-container h1 {
    text-align: center;
}

.search-input {
    padding: 8px;
    width: 60%; /* Ancho del input */
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    color: rgba(255, 0, 0, 0.5); /* Color del texto del placeholder */
}

#indicador {
    width: auto;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 768px) {
    .home_titulo {
        font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
    }

    .section-title {
        font-size: 1.2rem; /* Reduce el tamaño del título de la sección */
    }

    .image-wrapper {
        flex: 1 1 45%; /* Aumenta el tamaño de las imágenes en pantallas pequeñas */
        max-width: 150px; /* Limita el ancho máximo de cada imagen */
    }

    .search-input {
        width: 80%; /* Aumenta el ancho del input en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .home_titulo {
        font-size: 1.5rem; /* Reduce aún más el tamaño del título en pantallas muy pequeñas */
    }

    .section-title {
        font-size: 20px; /* Reduce el tamaño del título de la sección */
        text-align: center;
    }

    .image-wrapper {
        flex: 1 1 100%; /* Las imágenes ocupan el 100% del ancho en pantallas muy pequeñas */
        max-width: 100%; /* Limita el ancho máximo de cada imagen */
    }

    .search-input {
        width: 90%; /* Aumenta el ancho del input en pantallas muy pequeñas */
    }
}